.question_box
  - if question.preview_image
    = link_to image_tag(question.preview_image, :alt => question.text), question_path(question), :class => "question_box_image"
  - else
    = link_to question.text, question_path(question), :class => "question_box_text"