- @questions.each do |question|
  = render :partial => "question_preview", :locals => { :question => question }

= paginate @questions, :remote => true, :outer_window => 1

= link_to "Random question", random_questions_path