- if @user_session.voted_for?(@question.id)
  %h1
    Thanks for contributing to science!
  = render :partial => "twitter_share"
  = render :partial => "gantt_chart", :locals => {:ganttable => @question, :element_id => "science_chart" }

  #science_chart
- else
  %h2
    = @question.text
  %ul
    - @question.answers.each do |answer|
      %li
        = link_to answer.text, vote_for_question_path(@question, :answer_id => answer.id)