config/database.yml
db/schema.rb
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
public/company/*
public/javascripts/cache/*
public/stylesheets/cache/*
public/system/*
solr/data/development/*
coverage/*
.idea/*
*.rbc
.bundle