- if flash[:notice].present?
  %h1
    Thanks CHAP! We'll notify you when we need your help with MORE science!
- else
  - form_for @launch do |f|
    = f.text_field :email, :class => :text
    = f.submit 'Notify me of MORE science!', :class => :submit