- form_for @suggestion do |f|
  %ul.suggestion_form
    %li
      %label
        Email 
      = f.text_field :email, :class => :text
    %li
      %label
        Have a suggestion for a science experiment?
      = f.text_area :message
    %li
      = f.submit 'Make Suggestion for Science!', :class => :submit